@import "bootstrap-sprockets";
@import "bootstrap";

body {
	margin-top: 85px;
	background-color:#DAEAEF !important;
}

h2, h3 {
margin-top: 5px !important;
margin-bottom: 5px !important;
}

.panel-heading {
	background-color: #9DBDC6;
}

.navbar-inverse {
    border-color: #9DBDC6;
    background-color: #9DBDC6;
    }